{% load staticfiles %}
<div class="container" style="padding-right: 0;padding-left: 0;width: 100%">
    <nav class="navbar navbar-default" style="background-color: #333;">
        <div class="navbar-header">
            <a href="https://docs.djangoproject.com/zh-hans/2.0/" target="_blank" class="navbar-brand">
                <img src="{% static 'images/django.jpg' %}" width="30px" style="margin-top: -5px"/>
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">首页</a></li>
                <li><a href="{% url 'log:log_titles' %}">时刻</a></li>
                <li><a href="{% url 'image:falls_images' %}">相册</a></li>
                <li><a href="#">视频</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
                {% if user.is_authenticated %}
                    <li>
                        <div class="dropdown" style="margin-top: 12px">
                            <span style="color: #d9edf7">欢迎：</span>
                            {% if userinfo.portrait %}
                            <img src="{{ MEDIA_URL }}{{ userinfo.portrait }}" class="img-circle" width="30px" height="25px" style="margin-top: -5px">
                            {% else %}
                            <img src="{% static 'images/touxiang.jpg' %}" class="img-circle" width="30px" style="margin-top: -5px">
                            {% endif %}
                            <button class="btn btn-link" id="dLabel" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="{% url 'authen:user_info' %}">个人中心</a></li>
                                <li><a href="{% url 'log:log_column' %}">时刻管理</a></li>
                                <li><a href="{% url 'image:manage_images' %}">图片管理</a></li>
                                <li><a href="#">视频管理</a></li>
                                <li><a href="{% url 'authen:user_logout' %}">退出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{% url 'authen:user_login' %}">登录</a></li>
                    <li><a href="{% url 'authen:user_register' %}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

