<div class="col-md-2">
<div class="bg-info">
    <hr>
    <div class="text-center" style="margin-top: 5px">
        <p><h4>个人信息</h4></p>
        <p><a href="{% url 'authen:user_info' %}">栏目管理</a></p>
    </div>
    <hr>
    <div class="text-center" style="margin-top: 5px">
        <p><h4>图片</h4></p>
        <p><a href="{% url 'image:manage_images' %}">图片管理</a></p>
    </div>
    <hr>
    <div class="text-center" style="margin-top: 5px">
        <p><h4>时刻</h4></p>
        <p><a href="{% url 'log:log_post' %}">发布日志</a></p>
        <p><a href="{% url 'log:log_list' %}">日志列表</a></p>
        <p><a href="{% url 'log:log_tag' %}">日志标签</a></p>
    </div>
    <hr>
    <div class="text-center" style="margin-top: 5px">
        <p><h4>视频</h4></p>
        <p><a href="#">发布视频</a></p>
    </div>
    <hr>
</div>
</div>